<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem Somos Nós</title>
    <link rel="stylesheet" href="/css/QuemSomos.css">
</head>
<body>
<header>
    <button onclick="history.back()" class="btn-voltar">Voltar</button>
</header>
<main>
    <section class="intro">
        <h1>Quem Somos</h1>
        <p>Somos uma equipe dedicada e apaixonada por transformar ideias em projetos inovadores. Nossa missão é construir soluções eficientes e impactantes para nossos clientes e colaboradores.

        </p>
    </section>

    <section class="team">
        <h2>Nossa Equipe</h2>
        <div class="circle-container">
            <div class="member">
                <div class="circle" style="background-image: url('/img/salomaoFt.jpg');"></div>
                <p>Salomão Felipe</p>
            </div>
            <div class="member">
                <div class="circle" style="background-image: url('/img/Wendel.jpg');"></div>
                <p>Wendell Paulo</p>
            </div>
            <div class="member">
                <div class="circle" style="background-image: url('/img/Chico.jpg');"></div>
                <p>Francisco Olivan</p>
            </div>
            <div class="member">
                <div class="circle" style="background-image: url('/img/patrickFt.jpg');"></div>
                <p>Kleverton Patrick</p>
            </div>
        </div>
    </section>

    <section class="projects">
        <h2>Principais Projetos</h2>
        <p>Projeto Solicitude PI 5°Semestre</p>
        <p>Projeto Adega PI 4°Semestre</p>
        <p>Projeto E-Vinhos PI 3°Semestre</p>


        <!-- Adicione uma lista ou uma grade dos projetos principais -->
    </section>
</main>
</body>
<footer>
    <a></a>
    <a></a>
</footer>
</html>
