<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termos de Acesso</title>
    <link rel="stylesheet" href="/css/Termos.css">
</head>
<body>
<header>
    <button onclick="history.back()" class="btn-voltar">Voltar</button>
    <h1>Termos de Acesso</h1>
</header>
<main>
    <section>
        <h2>Termo de Uso</h2>
        <p>O uso da aplicação é restrito a pacientes cadastrados e funcionários do hospital. Todos os dados inseridos na plataforma serão utilizados exclusivamente para a gestão de solicitações de documentos e serão tratados de acordo com as políticas de privacidade descritas no Apêndice B.</p>

        <h3>1. Aceitação dos Termos</h3>
        <p>Este termo regulamenta o uso da plataforma para a solicitação de documentos médicos e administrativos financeiros. Ao acessar e utilizar o sistema de solicitação de documentos do hospital, você concorda com os seguintes Termos de Uso.</p>

        <h3>2. Objetivo do Sistema</h3>
        <p>O sistema tem como finalidade facilitar o processo de solicitação, emissão e devolução de documentos médicos e administrativos financeiros, garantindo maior transparência e eficiência para os pacientes e funcionários do hospital.</p>

        <h3>3. Uso do Sistema</h3>
        <p><strong>Pacientes:</strong> Ao utilizar o sistema, você poderá solicitar a emissão de documentos.<br>
            <strong>Funcionários:</strong> Os funcionários autorizados terão acesso a uma interface para gerenciar as solicitações dos pacientes e direcioná-las aos setores responsáveis.</p>

        <h3>4. Responsabilidades do Usuário</h3>
        <p>Manter a confidencialidade dos seus dados de acesso e pessoais dos pacientes. Utilizar o sistema apenas para os fins a que se destina, sem práticas que possam comprometer a segurança ou integridade do sistema e dos dados nele imputados.</p>

        <h3>5. Alterações e Atualizações</h3>
        <p>O hospital reserva-se o direito de modificar ou atualizar estes Termos de Uso a qualquer momento, notificando os usuários sobre mudanças significativas.</p>

        <h3>6. Limitações de Responsabilidade</h3>
        <p>O hospital não se responsabiliza por falhas temporárias no sistema, eventuais atrasos no processamento das solicitações ou falhas resultantes de mau uso da plataforma pelos usuários.</p>
    </section>

    <section>
        <h2>Política de Privacidade</h2>
        <p>A aplicação respeita a privacidade dos usuários e garante a proteção dos dados fornecidos, conforme a legislação vigente. Os dados coletados serão utilizados exclusivamente para fins administrativos e de melhoria dos serviços do hospital. A aplicação segue as diretrizes da LGPD, assegurando que nenhuma informação será compartilhada com terceiros sem o consentimento prévio do paciente.</p>

        <h3>1. Informações Coletadas</h3>
        <p>Para o funcionamento adequado do sistema, coletamos dados pessoais dos pacientes, incluindo nome, CPF, data de nascimento, número de telefone e dados médicos relacionados às solicitações de documentos.</p>

        <h3>2. Uso das Informações</h3>
        <ul>
            <li>Processar e gerenciar as solicitações de documentos dos pacientes.</li>
            <li>Facilitar a comunicação entre os pacientes e os setores responsáveis do hospital.</li>
        </ul>

        <h3>3. Compartilhamento de Informações</h3>
        <p>Os dados dos pacientes são compartilhados apenas entre os setores do hospital que precisam das informações para processar as solicitações de documentos. O hospital não compartilha, vende ou aluga dados pessoais com terceiros para fins comerciais.</p>

        <h3>4. Segurança dos Dados</h3>
        <p>O hospital adota medidas de segurança para proteger as informações dos pacientes contra acessos não autorizados, vazamento ou uso indevido. Somente funcionários autorizados terão acesso ao sistema, e todas as ações serão registradas para garantir a rastreabilidade.</p>

        <h3>5. Direitos dos Titulares dos Dados</h3>
        <ul>
            <li>Solicitar acesso aos dados que mantemos sobre eles.</li>
            <li>Solicitar a exclusão de dados pessoais, quando aplicável e permitido por lei.</li>
        </ul>

        <h3>6. Retenção dos Dados</h3>
        <p>Os dados serão mantidos pelo tempo necessário para o cumprimento das finalidades previstas neste documento, conforme legislação vigente.</p>

        <h3>7. Alterações na Política de Privacidade</h3>
        <p>Esta Política de Privacidade poderá ser alterada para atender a novas normas de segurança e privacidade ou para refletir mudanças nos processos do hospital.</p>
    </section>
</main>
<footer>
    <a></a>
    <a></a>
</footer>
</body>
</html>
